* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body{
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
section {
  padding-top: 70px;
  background-color: rgb(18, 26, 31);
  min-height: 93vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: #f1f2f1;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.display {
  background-color: #fcfcfc;
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
}
.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.3;
}
.all_button {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.5px solid rgba(92, 92, 92, 0.137);
  display: inline-block;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}
.button:hover {
  background-color: #c2c2c1;
}
.operation{
  color: #539433;
}
.all-clear,.last-entity-clear {
  color: #e3664a;
}
.btn-0 {
  grid-column: 1/3;
}
.equal{
  background-color: #67b22e;
  color: #fcfcfc;
}
.equal:hover {
  background-color: #529032;
}
.copyright p{
  padding: 10px;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
.counter {
  box-sizing: border-box;
  width: 400px;
  height: 85px;
  position: absolute;
  top: 0;
  left: 90%;
  background:white;
  transform: translate(-50%,0);
  border-radius: 8px;
  margin: 20px 0;
  padding: 16px;
}
.counter .image {
  height: 30px;
  overflow: hidden;
  width: 30px;
}
.counter p {
  position: absolute;
  left: 60px;
  font-size: 1.2em;
  top: 18px;
}
.counter p.tot {
  position: absolute;
  left: 60px;
  top: 55px;
}
.tot {
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}
nav{
	display: flex;
	padding: 2%;
	justify-content: space-between;
	align-items: center;
	background-color: whitesmoke;
	height: 60px;
}

.menu {
  height: 64px;
  width: 400px;
  background: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 50%;
  top: 16px;
  transform: translate(50%,-10%);
  border-radius: 8px;
  padding: 10px;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  border-bottom: 1px solid #f44336;

}